<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style/index.css" />
  </head>

  <body>
    <div class="main-container">
      <header>
        <h1>Routing Ex</h1>
      </header>
      <main>
        <div>
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
        </div>
        <div>
          <div class="name">Kyle Simpson book</div>
          <div class="title">
            SCOPE &<br />
            CLOSURES
          </div>
          <div class="book-info">JS</div>
        </div>
        <p class="author">By Kyle Simpson</p>
        <p>Javascript book by Ktyle Simpson about scope and closures</p>
      </main>
      <footer class="footer">2025 Lana and Merna</footer>
    </div>
  </body>
</html>
